.footer {
	background-color: aliceblue;
	color: #0e0c0c;
	text-align: center;
	padding: 1rem;
	position: relative; /* change to fixed if you want it always visible */
	bottom: 0;
	width: 1870px;
}

.footer a {
	color: #61dafb;
	margin: 0 0.5rem;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
